[submodule "Sources/ThirdParty/openssl"]
	path = Sources/ThirdParty/openssl
	url = https://github.com/openssl/openssl.git
[submodule "Sources/ThirdParty/icu"]
	path = Sources/ThirdParty/icu
	url = https://github.com/unicode-org/icu.git
